@import "tailwindcss";

/* Global typography - DM Sans only */
html,
body,
#root {
  font-family: "DM Sans", sans-serif;
}

/* Colores personalizados explícitos */
.bg-background {
  background-color: #1a1b23 !important;
}

.bg-card {
  background-color: #22232e !important;
}

.text-primary {
  color: #4ade80 !important;
}

.bg-primary {
  background-color: #4ade80 !important;
}

.text-red {
  color: #ef4444 !important;
}

.bg-red {
  background-color: #ef4444 !important;
}

.bg-back {
  background-color: #9ca3af !important;
}

.bg-navbar {
  background-color: #14151c !important;
}

.bg-input {
  background-color: #2b2c38 !important;
}

/* Estilos para el DatePicker */
.analytics-datepicker-popper {
  z-index: 9999 !important;
  /* Asegura que el calendario esté por encima de otros elementos */
}

.react-datepicker {
  border: 1px solid #374151;
  /* gray-700 */
  border-radius: 0.75rem;
  /* rounded-lg */
  background-color: #22232e;
  /* bg-card */
  color: #ffffff;
  /* text-white */
}

.react-datepicker__header {
  background-color: #22232e;
  /* bg-card */
  border-bottom: none;
  padding-top: 1rem;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__time-name {
  color: #ffffff !important;
  /* text-white */
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  border-color: #ffffff !important;
  /* flechas blancas */
}

.react-datepicker__navigation-icon::before {
  border-color: #ffffff !important;
  /* flechas blancas */
}

.react-datepicker__day--weekend {
  color: #6b7280 !important;
  /* gray-500 */
}

.react-datepicker__day {
  color: #ffffff !important;
  /* text-black o similar para contraste */
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #4ade80 !important;
  /* bg-primary */
  color: #1a1b23 !important;
  /* text-black o similar para contraste */
  border-radius: 0.25rem;
  /* rounded */
}

.react-datepicker__day:hover {
  background-color: #374151;
  /* gray-700 o un color de hover que se ajuste */
  border-radius: 0.25rem;
  /* rounded */
}

.react-datepicker__day--outside-month {
  color: #6b7280;
  /* gray-500 */
}

.react-datepicker__day--disabled {
  color: #4b5563;
  /* gray-600 */
}

.react-datepicker__triangle {
  filter: hue-rotate(240deg) brightness(0.5);
  /* Ajustar el color del triángulo si aparece */
}

button {
  cursor: pointer;
}
